<div id="title-info" class="title-info">

  <button id="toggle-navigation" class="toggle-navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div id="menu-primary-tracks" class="menu-primary-tracks"></div>
  <div id="menu-primary" class="menu-container menu-primary" role="navigation">
    {{ with .Site.Params.Slogan }}
    <p class="site-description">{{ . | default "" | safeHTML }}</p>
    {{ end }}

    <div class="menu">
      <ul id="menu-primary-items" class="menu-primary-items">
        {{ $page := . }}
        {{ range .Site.Menus.main }}
        <li id="menu-item" class='menu-item {{ if eq ("/") (.RelPermalink) }}menu-item-type-custom menu-item-object-custom{{ else }}menu-item-type-post_type menu-item-object-page{{ end }} {{ if $page.IsMenuCurrent "main" . }}current-menu-item current_page_item{{ end }}'>
          <a href="{{ .RelPermalink }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>

  </div>
