
<!-- Sidebar Container -->
<div class="
    col-lg-3 col-lg-offset-0
    col-md-3 col-md-offset-0
    col-sm-12
    col-xs-12
    sidebar-container
">
    <!-- Short About -->
	{{ if .Site.Params.about_me }}
    <section class="visible-md visible-lg">
	<!--<hr><h5><a href="{{ "/about" | relLangURL }}">ABOUT ME</a></h5>-->
        <div class="short-about">
            {{ with .Site.Params.sidebar_avatar }}
            <a href="{{ "/about" | relLangURL }}">
               <img src="{{ . | relURL }}" alt="avatar" style="cursor: pointer" />
            </a>
            {{ end }}
            {{ with .Site.Params.sidebar_about_description }}
                <p>Dr. Maegwin Bonar <br>
				Postdoctoral Associate <br>
				they/them</p>
            {{ end }}
           <!-- SNS Link -->
           
            </div>
    </section>
	{{ end }}
    <!-- Bookmarks -->
    {{ if .Site.Params.bookmarks }}
    <section>
        <hr>
        <h5>QUICK LINKS</h5>
        <ul class="list-inline">
            {{ range .Site.Params.bookmark_link }}
            <li><a target="_blank" href="{{.href }}">{{.title}}</a></li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
    <!-- Featured Tags -->
    {{ if .Site.Params.featured_tags }}
    <section>
        <hr class="hidden-sm hidden-xs">
        <h5>FEATURED TAGS</h5>
        <div class="tags">
            {{ $featured_condition_size := .Site.Params.featured_condition_size }}
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
               {{ if gt (len $taxonomy.Pages) $featured_condition_size }}
                    <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                        {{ $name }}
                    </a>
               {{ end }}
            {{ end }}
        </div>
    </section>
    {{ end }}

    <!-- Friends Blog -->
    {{ if .Site.Params.friends }}
    <section>
        <hr class="hidden-sm hidden-xs">
        <h5>FRIENDS</h5>
        <ul class="list-inline">
            {{ range .Site.Params.friend_link }}
            <li><a target="_blank" href="{{.href}}">{{.title}}</a></li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
    {{ if .Site.Params.publications }}
    <section>
        <hr class="hidden-sm hidden-xs">
        <h5>{{ .Site.Params.publications.Title }}</h5>
        <div class="short-about">
        {{ range .Site.Params.publications.items }}
        <a href="{{.href}}">
            <img src="{{.image}}" alt="avatar" style="cursor: pointer" />
        </a>
        {{ end }}
        </div>
    </section>
    {{ end }}
</div>
