{{ define "main" }}
  
  <div class="container">
      <div class="row">
          <!-- USE SIDEBAR -->
          <!-- Post Container -->
   	      <div class="
              col-lg-8 col-lg-offset-1
              col-md-8 col-md-offset-1
              col-sm-12
              col-xs-12
              post-container
          ">
            <h2>Maegwin Pilar Munoz Bonar, PhD </h2>
			<h4> Wildlife Biologist
            <h4>Postdoctoral Associate, Yale University</h4>
            <h4> Contact me: <a href="mailto:maegwin.bonar@yale.edu">maegwin.bonar@yale.edu</a> </h4>
			<br>
			<a href="/about/Bonar_CV_website.pdf" download="MBonar_CV.pdf">
			    <button>Curriculum Vitae</button>
			</a>
			
         	</div>
          {{ partial "sidebar.html" . }}
	  </div>
  </div>

{{ end }}

